<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test suite" parallel="classes" thread-count="3">
    <test name="Test">
        <classes>
            <class name="com.stormnet.tests.yandex.mainTest.MainTest"/>
        </classes>
    </test>
</suite>